#About {
  background-color: #0a0f1c;
  min-height: 100vh;
  margin-top: 0%;
  margin-bottom: 0%;
  overflow: hidden;
  color: #ffffff;
  
}

#About h1 {
  margin-top: 0px;
  padding-top: 3.5%;
  margin-bottom: 0%;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
  text-shadow: 1px 1px 5px #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  position: relative;
  transition: transform 0.5s ease;
}

#About h1:hover {
   
    transition: 0.5s;
}


#About h1::after{
  content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 15.5%;
    height: 3px;
    background: #ffffff;
    margin-left: 42%;
}


.container {
  margin-top: 5%;
  display: flex;
  
  justify-content: center;
  
  padding: 0 100px;
}

.Aleft,
.Aright {
  width: 50%;
}

/* Image Styling */
.Aleft img {
  width: 70%;

  background: linear-gradient(to bottom, #ffffff 0%, #777e8f 50%, #0a0f1c 91%, #0a0f1c 100%);
  border-radius: 15px;
}

/* Text Styling */
.Aright p {
  margin-top: 0%;
  font-size: 150%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.resume{
  display: flex;
  justify-content: center;
  padding: 3%;
  color: #ffffff;
  text-shadow: 1px 1px 5px #ffffff;
  
}

.resumeframe{
  width: 50%;
  height: 780px;
  size-adjust: inherit;
  overflow: hidden;
  border-radius: 15px;
  transition: 0.5s;
  border: #ffffff solid 1px;
}

.resumeframe:hover{
  box-shadow: 0 0 3px #9c9c9c,
                7px 7px 40px #ffffff80; 
    
}

@media(max-width:768px) {

  /* Text Styling */
  .container {

  padding: 0 10px;
}

.Aright p {
  margin-top: 0%;
  font-size: 100%;

}

.resumeframe{
  width: 60%;
  height: 550px;
}

  
}

@media (max-width: 480px){

  #About h1 {
  font-size: 30px;
 
}
   /* Text Styling */
  .container {

  padding: 0 10px;
}
.Aleft img {
  width: 90%;

  background: linear-gradient(to bottom, #ffffff 0%, #777e8f 50%, #0a0f1c 91%, #0a0f1c 100%);
  border-radius: 15px;
}

.Aright p {
  margin-top: 0%;
  font-size: 60%;

}

.resumeframe{
  width: 60%;
  height: 400px;
}

}